<h1>Artist Residency Thailand</h1>
<p><%= link_to "Application Form", new_petition_path %></p>
<section class="featured">
  <div class="container">
    <div class="row mar-bot20">
      <div class="col-md-6 col-md-offset-3">
        <div class="align-center">
          <img src="img/logo/art187x141.png" alt="Artist Residency Logo" />
          <h2 class="slogan">Artist Residency Thailand</h2>
          <p>Artist residency programmes offer practitioners from different creative disciplines, the chance to develop their practice through the creation of new work and the delivery of workshops and masterclasses.</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#openCall">Open Call - New Residency Offer for Thai National Artists </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
  <div class="align-center pad-top40 pad-bot40">
    <blockquote class="bigquote color-white">Inspiring natural surroundings, spacious studios, comprehensive resources,<br />supportive mentoring</blockquote>
  </div>
</section>

<section id="section-programmes" class="section appear clearfix">
  <div class="container">
    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Artist Residency Programmes</h2>
          <p>We welcome artists from around the world. Painters, Hip-Hop dancers, digital musicians, film-makers, writers, choreographers, theatre directors and more have benefitted from the creative environment, resources, mentoring and support offered in our residencies.</p>
        </div>
      </div>
    </div>

    <div class="row align-center">
      <div class="col-md-3">
        <div class="team-member">
          <figure class="member-photo"><img src="img/team/engagement.jpg" alt="" /></figure>
          <div class="team-detail">
            <h4>Engagement Residency</h4>
            <p><button type="button" class="btn btn-primary btn-small" href="#engagementModal" data-toggle="modal">Details</button></p>
            <p>
            Aimed at creative practitioners who want to gain experience working with young people and community groups, while still being provided with the necessary resources to develop and produce new work of their own<br />
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="team-member">
          <figure class="member-photo"><img src="img/team/enhancement2.jpg" alt="" /></figure>
          <div class="team-detail">
            <h4>Enhancement Residency</h4>
            <p><button type="button" class="btn btn-primary btn-small" href="#enhancementModal" data-toggle="modal">Details</button></p>
            <p>Aimed at creative practitioners with existing workshop experience, who want to explore new ways of working, or engaging within international contexts</p><br />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="team-member">
          <figure class="member-photo"><img src="img/team/lotus2.jpg" alt="" /></figure>
          <div class="team-detail">
            <h4>Lotus Residency</h4>
            <p><button type="button" class="btn btn-primary btn-small" href="#lotusModal" data-toggle="modal">Details</button></p>
            <p>Aimed at leading practitioners with significant and demonstrable critical acclaim in their chosen artistic field. This residency benefits from additional travel grants, marketing and press support</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="team-member">
          <figure class="member-photo"><img src="img/team/additional.jpg" alt="" /></figure>
          <div class="team-detail">
            <h4>Additional Opportunities</h4>
            <p><button type="button" class="btn btn-primary btn-small" href="#opportunitiesModal" data-toggle="modal">Details</button></p>
            <p>Outside of our structured residences, we also provide opportunities to practitioners wishing to deliver workshops or masterclasses in one to five day time periods</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modals -->

<div class="modal fade" id="openCall">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <table border="0">
          <tr>
            <td><img style="max-width: 100%; height: auto; display:block;" src="img/logo/prem187.jpg" alt="" /></td>
            <td><img style="max-width: 100%; height: auto; visibility:hidden;" src="img/logo/prem187.jpg" alt="" /></td>
            <td><img style="max-width: 100%; height: auto; display:block;" src="img/logo/art187x141.png" alt="" /></td>
            <td><img style="max-width: 100%; height: auto; visibility:hidden;" src="img/logo/art187x141.png" alt="" /></td>
            <td><img style="max-width: 100%; height: auto; display:block;" src="img/logo/cmac187.jpg" alt="" /></td>
          </tr>
        </table>
        <br />
        <h4>Open Call Residency Opportunity: May 1 – June 1 2017 (DEADLINE APRIL 10th)</h4>
        <p>We are looking for a contemporary ThaI artist who is heavily influenced by, or directly uses ‘traditional’ Thai craft forms to produce their work. The residency is open to any Thai National aged 21 or over. The offer and requirements are outlined below</p>

        <h5>Artist essentials</h5>

        <ul>
          <li>A portfolio that demonstrates work with a direct link/influence, or focus on traditional ‘Thai craft techniques’ and a personal mastery of those techniques</li>
          <li>A minimum of an intermediate level of spoken English</li>
          <li>Experience of delivering workshops, lectures, or teaching classes to either young people/teenagers, or university students</li>
          <li>An up to date police check (Prem Tinsulanonda School can help with this if you do not already have one)</li>
          <li>A commitment to giving 40% of time between 8.30am – 5pm, Monday to Friday for supporting workshop and engagement activity focused on your work and the techniques and approaches of the craft/s that you utilise in that work (please note that the rest of your time and all evenings and weekends are free of commitments)</li>

        </ul>

        <h5>The residency offer from Prem, Artist Residency Thailand</h5>

        <ul>
          <li>24 access to a our spacious air-conditioned studio with additional outside access for any messy 3-Dimensional work</li>
          <li>Evening access to wood and metal-work studios and negotiable access to our kiln</li>
          <li>Return flights, or alternative transport within Thailand and weekly private transport within Chiang Mai</li>
          <li>A two bedroom studio apartment with living room, en-suite bathrooms, kitchenette with tea and coffee making facilities and outdoor balcony</li>
          <li>Three meals per day</li>
          <li>A fifteen thousand baht materials/subsistence grant for your own work</li>
          <li>Marketing and press support via our Marketing Department</li>
        </ul>
        <p>Please apply using the form below.</p>
        <!--<p><a href="https://docs.google.com/a/ptis.ac.th/forms/d/e/1FAIpQLScT19dAM7cw4jCZwDtuMk0ZlYOl2-iLQ6mG-vNHj0jyhf1kzw/viewform">Application Form</a></p>-->
        <h4>โครงการศิลปินไทยในพำนัก เดือนพฤษภาคม – มิถุนายน 2560 (DEADLINE APRIL 10th)</h4>
        <p>ขeอเชิญศิลปินไทยร่วมสมัย ผู้ซึ่งทำงานโดยได้รับแรงบันดาลใจหรือ ใช้รูปแบบการทำงานเชิงช่างแบบไทยประเพณีนิยมในการทำงาน ที่มีคุณสมบัติดังต่อไปนี้ร่วมโครงการศิลปินในพำนัก ณ โรงเรียนนานาชาติเปรม ติณสูลานนท์ จ. เชียงใหม่ ระหว่างวันที่ 1 พฤษภาคม – 1 มิถุนายน 2560</p>
        <ul>
          <li>อายุ 21 ปีขึ้นไป</li>
          <li>มีแฟ้มผลงาน แสดงงานฝีมือที่ผ่านมา</li>
          <li>สามารถพูดภาษาอังกฤษได้ในระดับปานกลาง</li>
          <li>มีประสบการณ์ในการจัด workshop หรือสอนในชั้นเรียนในระดับมัธยมศึกษาขึ้นไป</li>
          <li>ไม่มีประวัติอาชญากรรม และมีหนังสือรับรองความประพฤติ</li>
          <li>สามารถแบ่งเวลา 40% ระหว่าง 8.30 น – 17.00 น. ให้นักเรียนมีส่วนในการสร้างสรรค์ผลงานที่กำลังทำอยู่</li>
        </ul>

        <h5>ศิลปินไทยในพำนักจะได้รับการสนับสนุนดังต่อไปนี้</h5>
        <ul>
          <li>ห้องสตูดิโอทำงาน ทั้งห้องปรับอากาศและบริเวณเปิดโล่งสำหรับทำงาน 3 มิติ</li>
          <li>ห้องสตูดิโอสำหรับทำงานประเภทไม้และโลหะ รวมทั้งเตาเผา ซึ่งใช้ได้ในช่วงเย็น</li>
          <li>ตั๋วเครื่องบินภายในประเทศ และรถรับ-ส่งถึงตัวเมืองเชียงใหม่สัปดาห์ละ 1 ครั้ง</li>
          <li>ที่พักพร้อมอาหาร 3 มื้อ</li>
          <li>เงินสนับสนุนค่าวัสดุอุปกรณ์ จำนวน 15,000 บาท</li>
          <li>ความช่วยเหลือด้านการประชาสัมพันธ์ จากฝ่ายการตลาดของโรงเรียน</li>
        </ul>

        <p>ท่านที่สนใจโปรดกรอกใบสมัครด้านล่าง ส่งทางอีเมลถึง Alex Soulsby alexs@ptis.ac.th</p>
        <!-- <p><a href="https://docs.google.com/a/ptis.ac.th/forms/d/e/1FAIpQLScT19dAM7cw4jCZwDtuMk0ZlYOl2-iLQ6mG-vNHj0jyhf1kzw/viewform">Application Form</a></p>-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="engagementModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Engagement Residency</h4>
        <p>Space and time to develop and produce new work, plus opportunities and support to develop your skills as a workshop leader.</p>
        <p><b>Applicant criteria</b></p>
        <ul>
          <li>Aged 21 and above with a relevant University degree, or demonstrable experience in their chosen creative field</li>
          <li>A completed application form*, CRB check and ability to travel to and from Chiang Mai (transport within Chiang Mai, accommodation food etc will be provided for the duration of your residency)</li>
          <li>A submitted digital portfolio of images, excerpts of text, video footage, or otherwise, that gives a comprehensive overview of your work</li>
          <li>A desire to develop creative skills and produce new work, while working with young people and community groups in an international setting</li>
          <li>Fluency in spoken English to at least an upper-intermediate level</li>
          <li>An ability to commit to between a 2 week or 1 month residency</li>
        </ul>

        <p><b>Residency offer</b></p>
        <ul>
          <li>90m2, private studio space with natural daylight and air-conditioning</li>
          <li>Access to a comprehensive wood workshop and help with sourcing local materials</li>
          <li>Professional mentoring, support and guidance with workshop structure and  delivery, as well as studio practice feedback and discussion forums</li>
          <li>Private, air-conditioned accommodation with en-suite bathroom, kitchenette, balcony and living room</li>
          <li>Three meals per day, plus tea and coffee provided to your studio space and apartment</li>
          <li>Transport to and from Chiang Mai at the start and end of your residency</li>
        </ul><br />
        <p><b>For additional information or application forms for this programme, please use the contact form at the bottom of this site.</b></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="enhancementModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Enhancement Residency</h4>
        <p>Aimed at creative practitioners with existing workshop and, or arts education experience, who want to explore new ways of working, or engaging within international contexts. This residency balances workshop delivery, with the necessary time and resources to develop and produce new work of their own.</p>
        <p><b>Applicant criteria</b></p>
        <ul>
          <li>Aged 21 or above with a relevant University degree, and or demonstrable experience in their chosen creative field</li>
          <li>Demonstrable experience of leading workshops, or master-classes in public, or formal education settings</li>
          <li>A completed application form*, CRB check and ability to travel to and from Chiang Mai (transport within Chiang Mai, accommodation food etc will be provided for the duration of your residency)</li>
          <li>A submitted digital portfolio of images, excerpts of text, video footage, or otherwise, that gives a comprehensive overview of your work</li>
          <li>A desire to develop creative skills and produce new work, while working with young people and community groups in an international setting</li>
          <li>Fluency in spoken English to at least an upper-intermediate level</li>
          <li>An ability to commit to between a 2 week or 1 month residency</li>
        </ul>

        <p><b>Residency offer</b></p>
        <ul>
          <li>90m2, private studio space with natural daylight and air-conditioning</li>
          <li>Access to a comprehensive wood and metal workshop and help with sourcing local materials</li>
          <li>Professional mentoring, support and guidance with workshop structure and delivery, as well as studio practice feedback and discussion forums</li>
          <li>Private, air-conditioned accommodation with en-suite bathroom, kitchenette, balcony and living room</li>
          <li>Three meals per day, plus tea and coffee provided to your studio space and apartment</li>
          <li>Transport to and from Chiang Mai, at the start and end of your residency</li>
          <li>Opportunities for collaboration with other local artists and community groups</li>
        </ul><br />
        <p><b>For additional information or application forms for this programme, please use the contact form at the bottom of this site.</b></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lotusModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4> Lotus Residency</h4>
        <p>Open to creative practitioners aged 21 and above who can demonstrate significant, sustained accomplishment and critical acclaim in their chosen artistic field.</p>
        <p><b>Applicant criteria</b></p>
        <ul>
          <li>Aged 21 or above with a relevant University degree, significant experience and critical acclaim, in your chosen creative field</li>
          <li>Demonstrable experience of leading workshops, or master-classes in public, or formal education settings</li>
          <li>A completed application form*, CRB check and ability to travel to and from Chiang Mai (transport within Chiang Mai, accommodation food etc will be provided for the duration of your residency)</li>
          <li>A submitted digital portfolio of images, excerpts of text, video footage, or otherwise, that gives a comprehensive overview of your work</li>
          <li>A portfolio of, or links to press reviews, awards, commendations etc</li>
          <li>A desire to work with young people and community groups in an international setting</li>
          <li>Fluency in spoken English to at least an upper-intermediate level</li>
          <li>An ability to commit to between a 1 week or 1 month residency</li>
        </ul>

        <p><b>Residency offer</b></p>
        <ul>
          <li>Return flights from your country of origin and internal transportation to and from Chiang Mai to our residency</li>
          <li>VIP accommodation in our boutique Residence and Spa</li>
          <li>Three meals per day</li>
          <li>Use of 90m2, air-conditioned studio, campus facilities and resources including residency pool, gym and tennis courts</li>
          <li>Workshop development and support, mentoring and feedback</li>
          <li>Opportunities for collaboration with local artists and community groups</li>
          <li>Local national and international press and marketing advocacy for your residency</li>
        </ul><br />
        <p><b>For additional information or application forms for this programme, please use the contact form at the bottom of this site.</b></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="opportunitiesModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Additional Opportunities</h4>
        <p>If you are a creative practitioner who is passing through Chiang Mai, but is unable to commit the time required for our official residency programmes, we also provide additional opportunities for one off engagements. Workshops and master classes, film-screenings, readings, recitals, performances and otherwise can also be catered to and delivered within our formal, or informal education programmes.</p>
        <p>We are happy to offer support for one-off activity through our in-house transport and accommodation resources. Please contact us, outlining details of your proposal and we will be happy to talk about ways in which you can engage with us.</p><br />
        <p><b>For additional information or application forms for this programme, please use the contact form at the bottom of this site.</b></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- spacer section:stats -->
<section id="parallax3" class="section pad-top20 pad-bot20" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="align-center">
      <blockquote class="bigquote color-white">
        Set within the beautiful ninety-acre campus, surrounded by mountains lagoons and rice paddies, 30 minutes from central Chiang Mai
      </blockquote>
    </div>
  </div>
</section>

<section id="section-portfolio" class="section appear clearfix">
  <div class="container">
    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
          <p>Below are a selection of images and quotes from our residency programmes.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <nav id="filter" class="col-md-12 text-center">
        <ul>
          <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".testimonials" >Testimonials</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".resources">Resources</a></li>
        </ul>
      </nav>

      <div class="col-md-12">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix" id="3">
            <article class="col-md-4 isotopeItem testimonials">
              <div class="portfolio-item">
                <img src="img/portfolio/miltos1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/miltos1.jpg" class="fancybox">
                      &quot;The support that I received and the structure of the residency itself were perfect. I worked with great people, got some fantastic results and got to experience the warmth and kindness of the Thai people&quot;
                    </a>
                    <p class="portfolio-name">
                    <a href="#"><b>MILTOS YEROLEMOU</b><br />
                      stage and screen actor
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem testimonials">
              <div class="portfolio-item">
                <img src="img/portfolio/paul1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/paul1.jpg" class="fancybox">
                      &quot;The residency was an incredibly rewarding experience and one that I hope to repeat in the future&quot;
                    </a>
                    <p class="portfolio-name">
                    <a href="#"><b>PAUL CZANSKI</b><br />
                      mixed media and mural artist, UK
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem testimonials">
              <div class="portfolio-item">
                <img src="img/portfolio/becky1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/becky1.jpg" class="fancybox">
                      &quot;As a return artist to the Residency Programme I can't overstate how beneficial each experience has been to generating new ideas and approaches to my performance work&quot;
                    </a>
                    <p class="portfolio-name">
                    <a href="#"><b>BECKY KITTER</b><br />
                      stage and screen actress / childrens' entertainer
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem testimonials">
              <div class="portfolio-item">
                <img src="img/portfolio/nehara1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/nehara1.jpg" class="fancybox">
                      &quot;As an artist I was given the perfect balance of freedom to explore and develop ways of working and the necessary mentoring to understand the dynamics of working with international students&quot;
                    </a>
                    <p class="portfolio-name">
                    <a href="#"><b>NEHARA KALEV</b><br />
                      choreographer
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem resources">
              <div class="portfolio-item">
                <img src="img/portfolio/ipad1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/ipad1.jpg" class="fancybox">
                      Participants have access to a wide variety of resources, allowing opportunities to work with and deliver in a range of creative media
                    </a>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem resources">
              <div class="portfolio-item">
                <img src="img/portfolio/pool.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/pool.jpg" class="fancybox">
                      All residency artists benefit from on campus facilities, including pools, gym and tennis courts
                    </a>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem testimonials">
              <div class="portfolio-item">
                <img src="img/portfolio/mark1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/mark1.jpg" class="fancybox">
                      &quot;I was encouraged to take on new challenges, always offered creative solutions and left feeling confident and re inspired regarding working with young people&quot;
                    </a>
                    <p class="portfolio-name">
                    <a href="#"><b>MARK RAFTER</b><br />
                      former Disney Art Director
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem resources">
              <div class="portfolio-item">
                <img src="img/portfolio/studio1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/studio1.jpg" class="fancybox">
                      Visual arts practicioners benefit from access to and use of a private 90m2 studio space complete with natural daylight and air-conditioning
                    </a>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-md-4 isotopeItem testimonials">
              <div class="portfolio-item">
                <img src="img/portfolio/paula1.jpg" alt="" />
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="img/portfolio/paula1.jpg" class="fancybox">
                      &quot;The residency was heart-warming inspiring and delightful. I look forward to returning in the future.&quot;
                    </a>
                    <p class="portfolio-name">
                    <a href="#"><b>PAULA DI PERNA</b><br />
                      writer, film-maker, US Presidential Advisor
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </article>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="parallax4" class="section parallax" data-stellar-background-ratio="0.5">
  <div class="align-center pad-top40 pad-bot40">
    <blockquote class="bigquote color-white">Welcoming all creative practitioners from all creative disciplines with no residency fees</blockquote>
  </div>
</section>

<!-- contact -->
<section id="section-contact" class="section appear clearfix">
  <div class="container">

    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Contact us<br />Apply for residency</h2>
          <p><b>We are currently booked until September 2017 for our Residency Progammes. Please ensure all applications are submit for September 2017 and beyond.</b></p>
          <p>Please email for additional information or to obtain residency application packs.</p>
          <p>Please note that due to the number of applications, only successful candidates will be contacted.</p>
          <a href="https://twitter.com/artsthailand" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @artsthailand</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="cform" id="contact-form">
          <div id="sendmessage">
            Your message has been sent. Thank you!
          </div>
          <form action="contact/contact.php" method="post" role="form" class="contactForm">
            <div class="form-group">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <label for="email">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <label for="subject">Programme Information Requested</label>
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Programmes" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validation"></div>
            </div>

            <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer" class="section footer">
  <div class="container">
    <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
      <div class="col-sm-12 align-center">
        <ul class="social-network social-circle">
          <li>
            <a href="https://twitter.com/artsthailand" class="icoTwitter" data-show-count="false" data-size="large"><i class="fa fa-twitter"></i></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>
        </ul>
      </div>
    </div>

    <div class="row align-center copyright">
      <div class="col-sm-12"><p>Copyright &copy; 2015 <a href="http://www.threegeneration.org">Traidhos Community for Learning</a></p></div>
    </div>
  </div>
</section>
<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
